@reference 'tailwindcss';

.cardContainer {
  width: 100%;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing) * 2);
  border-style: solid;
  border-width: 1px;
  border-color: var(--color-gray-300);
  padding: calc(var(--spacing) * 3);
  @apply rounded-lg shadow-sm hover:shadow-md transition-shadow;
}

.teamRow {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: calc(var(--spacing) * 2);
}

.teamData {
  flex: 1;
  width: 100%;
}

.teamDataColumns {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  gap: calc(var(--spacing) * 2);
}

.teamName {
  color: var(--color-gray-600);
  @apply text-sm font-semibold truncate;
}

.winnerTeamName {
  color: var(--color-emerald-600) !important;
}

.winnerTeamScore {
  color: var(--color-emerald-600) !important;
  font-weight: 600;
}

.looserTeamName {
  color: var(--color-gray-600);
}

.teamImage {
  border: solid 1px var(--color-gray-300);
  border-radius: 4px;
}

.matchScores {
  display: flex;
  align-items: center;
  gap: calc(var(--spacing) * 1);
}

.matchScore {
  font-weight: 700;
  font-size: 20px;
}

.penaltyShoots {
  font-size: 12px;
  color: var(--color-gray-500);
}

.penaltyShootsDash {
  font-weight: 700;
  flex-shrink: 0;
  @apply text-base tabular-nums;
}

.matchDate {
  font-weight: 600;
  color: var(--color-gray-500);
  margin-top: calc(var(--spacing) * 2);
  padding-top: calc(var(--spacing) * 3);
  border-top: solid var(--color-gray-200) 1px;
  text-align: center;
  font-size: 14px;
}

:global(.dark) {
  .cardContainer {
    background-color: var(--color-gray-800);
    border-color: var(--color-gray-600);
  }

  .teamName {
    color: var(--color-gray-400);
  }

  .winnerTeamName {
    color: var(--color-emerald-500) !important;
  }

  .winnerTeamScore {
    color: var(--color-emerald-500) !important;
  }

  .teamImage {
    border: none;
  }

  .penaltyShoots {
    color: var(--color-gray-400);
  }

  .matchDate {
    border-color: var(--color-gray-700);
    color: var(--color-gray-400);
  }
}