@reference "tailwindcss";

h1 {
  @apply text-emerald-800 font-semibold text-center text-4xl lg:text-6xl;
}

h2 {
  @apply text-3xl lg:text-5xl text-blue-900 font-medium mb-3;
}

h2 + h3 {
  @apply mt-4;
}

h3 {
  @apply text-2xl text-emerald-800 font-medium mb-2;
}

p {
  @apply text-lg lg:text-xl text-gray-700 mb-3;
}

.picture {
  @apply size-[500px] object-cover rounded-lg mt-3 lg:mt-0;
}
