@reference "../../../../globals.css";

.description {
  & h2 {
    @apply
      text-3xl
    text-sky-600
      font-semibold
      mb-2;
  }

  & p {
    @apply
      text-gray-400
      text-xl
      italic
      mb-4;
  }
}

.image-placeholder {
  @apply
    flex
    justify-center
    items-center
    bg-gray-200
    dark:bg-gray-800
    size-[500px]
    p-2
    rounded-lg;
}

.image-placeholder-icon {
  @apply text-gray-400;
}

.table {
  & th,
  & td {
    @apply text-gray-500;
  }
  & th {
    @apply font-bold;
  }
  & td {
    @apply italic;
  }
}

.teamsSubheading {
  @apply text-2xl mb-5;
}

.teams {
  @apply
    grid
    grid-cols-1
    gap-5
    md:grid-cols-2
    lg:grid-cols-4
    xl:grid-cols-4;
}

.teamCard {
  @apply
  rounded-lg
  border-2
  dark:border
  dark:bg-gray-800/80
  flex
  flex-col      
  justify-center
  items-center
  gap-2
  p-5;
  & img {
    @apply rounded;
  }
}