@reference "tailwindcss";

.mainWrapper {
  @apply relative;
  margin-right: calc(var(--spacing) * 2.5);
}

.searchWrapper {
  display: flex;
  gap: calc(var(--spacing) * 2.5);
}

.inputGroup {
  position: relative;

  & .searchInput {
    display: block;
    width: 100%;
    padding-block: calc(var(--spacing) * 2);
    padding-left: calc(var(--spacing) * 10);
    font-style: italic;
    color: var(--color-gray-400);
    outline-style: var(--tw-outline-style);
    outline-width: 0px;

    @apply lg:min-w-[320px];
    @apply rounded-md border border-gray-500 focus:border-blue-500;
    @apply text-sm;

    &::placeholder {
      color: var(--color-gray-500);
    }
  }

  & .searchIcon {
    position: absolute;
    left: calc(var(--spacing) * 3);
    top: calc(1 / 2 * 100%);
    width: calc(var(--spacing) * 5);
    height: calc(var(--spacing) * 5);
    @apply -translate-y-1/2;
    @apply text-gray-500 peer-focus:text-blue-400;
  }

  & .closeIcon {
    color: var(--color-gray-500);
    width: calc(var(--spacing) * 4.5); /* 18px */
    height: calc(var(--spacing) * 4.5); /* 18px */
  }
}

.submitButton {
  @apply hover:bg-blue-500 hover:border-blue-500 hover:text-blue-50;
  @apply transition-colors duration-300 ease-in-out;
}

.closeButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: calc(var(--spacing) * 3);
}
