@reference "tailwindcss";

.navigation {
  @apply hidden md:flex gap-5;
}

.navigationLink {
  @apply relative text-green-50 font-semibold;
}

.navigationLink:hover {
  @apply text-green-950 transition-colors duration-300 ease-in-out;
}

.linkUnderline {
  @apply absolute w-full left-0 -bottom-2 h-1 rounded transition-colors duration-300 ease-in-out;
}