@reference "../../../globals.css";

div[class*=dialogContent] {
  @apply flex-col p-5;
}

div[class*=dialogContent] h2 {
  @apply text-xl;
}

div[class*=dialogContent] form[class*=multiFieldForm] input {
  @apply px-4 py-2 border border-gray-500 rounded;
}

div[class*=dialogContent] form[class*=multiFieldForm] div:last-child {
  @apply mt-5;
}

div[class*=dialogContent] form[class*=multiFieldForm] button[type=reset],
div[class*=dialogContent] form[class*=dialogForm] button[type=button] {
  @apply bg-gray-300 text-gray-600 dark:bg-gray-700 font-semibold dark:text-gray-300 order-1;
}

div[class*=dialogContent] form[class*=multiFieldForm] button[type=submit],
div[class*=dialogContent] form[class*=dialogForm] button[type=submit] {
  @apply bg-emerald-500 font-semibold text-emerald-900 order-2;
}
