@reference "../../../globals.css";

.tournaments-selector {
  @apply grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-4 gap-5;
}

.tournament,
.selected-tournament {
  @apply
    w-full
    border
  border-gray-400
  bg-gray-100
  dark:border-gray-700
  dark:bg-gray-800/50
    rounded-lg
    p-5;
}

.tournament {
  @apply
    hover:border-blue-500
    dark:hover:border-blue-600
    cursor-pointer;
}

.tournamentSelected {
  @apply
    border-blue-500
    dark:border-blue-600;
}

.tournamentName {
  @apply text-xl font-semibold mb-5;
  & a {
    @apply text-gray-700 hover:text-gray-600
      dark:text-sky-500 dark:hover:text-sky-600;
  }
}

.tournamentData {
  @apply text-gray-700 dark:text-gray-200;
}
