@reference "../../../globals.css";

.tournaments {
  @apply
    grid
    grid-cols-1
    md:grid-cols-2
    lg:grid-cols-4
    gap-5;
}

.tournament {
  @apply
    border
   border-gray-400
   dark:border-gray-600
    rounded-lg
    cursor-pointer
    p-5;
}

.tournamentSelected {
  @apply
    border-blue-500
    dark:border-blue-600;
}

.tournamentName {
  @apply text-xl font-semibold mb-5;
}

.tournamentData {
  @apply
    text-gray-700
    dark:text-gray-200;
    & p {
      @apply text-sm;
    }
}
