@reference "tailwindcss";

.wrapper {
  @apply w-full box-border;
}

.header {
  @apply px-3 py-2 font-semibold rounded-t bg-gray-700 text-gray-50;
}

.calendar {
  scrollbar-width: thin;
  -webkit-overflow-scrolling: touch;
  @apply
    flex
    justify-around
    items-center
    overflow-x-auto
    px-2
    py-4
    scroll-smooth
    border
    border-gray-300
    rounded-b-lg
  ;
}

.day {
  flex: 0 0 auto;
  @apply
    cursor-default
    text-center
    bg-gray-50
    rounded-lg
    px-4
    py-2
    min-w-17
    text-gray-600
    border
    border-gray-400;
}

.weekday {
  @apply text-base text-gray-500 capitalize;
}

.day-num {
  @apply text-lg font-semibold;
}

.month {
  @apply text-gray-500 capitalize text-sm;
}

.today {
  @apply border-2 text-blue-500 italic border-blue-500 shadow-none;
}

.gamesCount {
  @apply text-gray-500 text-center border border-gray-400 rounded mt-5;
}

.todayGamesCount {
  @apply font-bold border-2 text-blue-500 border-blue-500;
}

/* optional: hide scrollbar on webkit but keep scroll functionality */
.calendar::-webkit-scrollbar {
  height: 8px;
}

.calendar::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.12);
  border-radius: 8px;
}
