@reference "../../../globals.css";

.calendar-wrapper {
  @apply w-full box-border;
}

.calendar-header {
  @apply px-3 py-2 font-semibold rounded-t-sm bg-gray-700 text-gray-50;
  @apply border border-b-0 border-gray-300 dark:border-gray-500;
}

.calendar-body {
  scrollbar-width: thin;
  -webkit-overflow-scrolling: touch;
  @apply flex justify-around gap-2 md:gap-3 items-center;
  @apply overflow-x-auto px-2 py-4 scroll-smooth;
  @apply border border-gray-300 dark:border-gray-500 rounded-b-sm;
}

.calendar-day {
  flex: 0 0 auto;
  @apply cursor-default text-center bg-gray-50 dark:bg-transparent rounded-lg;
  @apply px-4 py-2 min-w-17;
  @apply text-gray-600 dark:text-gray-200 border border-gray-400;
}

.calendar-weekday {
  @apply text-base text-gray-500 dark:text-gray-200 capitalize;
}

.calendar-day-num {
  @apply text-lg font-semibold;
}

.calendar-month {
  @apply text-gray-500 dark:text-gray-200 capitalize text-sm;
}

.calendar-today {
  @apply border-2 italic border-blue-500 shadow-none;
}

.calendar-games-count {
  @apply text-gray-500 dark:text-gray-200 text-center border border-gray-400 rounded mt-5;
}

.calendar-today-games-count {
  @apply font-bold border-2 text-blue-500 border-blue-500;
}

/* optional: hide scrollbar on webkit but keep scroll functionality */
.calendar-calendar::-webkit-scrollbar {
  height: 8px;
}

.calendar-calendar::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.12);
  border-radius: 8px;
}
