@reference '../../../../globals.css';

.label {
  @apply font-semibold text-gray-500 dark:text-gray-400;
}

.input {
  @apply border border-primary/50 text-gray-400;
}

.showHidePassword {
  @apply absolute top-1/2 right-3 -translate-y-1/2 text-gray-600 hover:text-gray-400 z-10;
}

.submitWrapper {
  @apply flex lg:justify-end w-full;
}

.submitButton {
  @apply
    w-full lg:w-fit border-primary/50! font-semibold text-green-700
    hover:text-green-50
    dark:text-primary/80 hover:dark:text-green-100;
}