@reference "../../../globals.css";

.tournaments {
  @apply grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-4 gap-5;
}

.tournament {
  @apply
    w-full
    border
  border-gray-400
  bg-gray-100
  dark:border-gray-700
  dark:bg-gray-800/50
    rounded-lg
    p-5
    hover:border-blue-500
    dark:hover:border-blue-600
    cursor-pointer;
}

.tournamentName {
  @apply text-xl font-semibold mb-5;
  & a {
    @apply text-gray-700 hover:text-gray-600
      dark:text-sky-500 dark:hover:text-sky-600;
  }
}

.tournamentData {
  @apply text-gray-700 dark:text-gray-200;
}

.tournamentFigure {
  @apply flex justify-center mb-5;
}

.tournamentIcon {
  @apply w-full max-w-[512px] h-auto max-h-[512px];
  @apply stroke-gray-600 dark:stroke-gray-500;
}

.tournamentImage {
  @apply border border-transparent dark:border-gray-600/80;
  @apply rounded-lg w-full max-w-[512px] h-auto;
}
