@reference "tailwindcss";

.wrapper {
  @apply
    grid
    grid-cols-1
    md:grid-cols-2
    lg:grid-cols-4
    gap-5
}

.tournament {
  @apply
    bg-gray-800
    rounded-lg
    p-5;
}

.tournamentName {
  @apply
    text-xl
    font-bold
    text-sky-500
    mb-5
  ;
}

.tournamentData {
  @apply
    text-gray-200
  ;
}