@reference "../../../globals.css";

.cancel-btn {
  @apply
    bg-gray-100
    hover:bg-gray-200
    border-gray-600
    text-gray-600
    hover:text-gray-800
    dark:bg-gray-800
    dark:text-gray-400
    dark:hover:bg-gray-900
    dark:hover:text-gray-100;
}

.delete-btn {
  @apply 
    text-pink-50
    border-pink-600
    bg-pink-600
    hover:text-pink-100
    hover:border-pink-500
    hover:bg-pink-800;
}