@reference '../../../../../globals.css';

.next-match {
  display: flex;
  flex-direction: column;
  @apply w-full md:w-10/12 2xl:w-1/2 md:flex-row;
  @apply gap-5 p-2.5 py-5;
  @apply border border-slate-300 bg-slate-200/50 rounded-lg;
  @apply dark:bg-slate-800 dark:border-slate-600/50;
}

.teams {
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  @apply gap-3;
}

.team-image-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  @apply gap-2;
}

.team-no-image {
  @apply bg-slate-700 p-2 rounded;
}

.team-no-image-icon {
  @apply stroke-gray-400;
}

.team-image {
  object-fit: cover;
  object-position: center;
  @apply rounded-lg size-20;
}

.team-name {
  width: 120px;
  text-wrap: balance;
  font-style: italic;
  @apply text-center font-medium;
  @apply leading-tight line-clamp-1;
}

.versus {
  font-weight: bold;
  @apply text-xl;
}

.match-data {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @apply md:items-start;
}

.match-place {
  @apply text-wrap;
}