@reference '../../../../../globals.css';

.next-match {
  width: 100%;
  display: flex;
  position: relative;
  overflow: hidden;
  @apply flex-col;
  @apply gap-5 p-2.5 py-5;
  @apply border border-slate-300 bg-slate-200/50 rounded-lg;
  @apply dark:bg-slate-800 dark:border-slate-600/50;
}

.teams {
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  @apply gap-3;
}

.team-image-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  @apply gap-2;
}

.team-no-image {
  @apply bg-slate-700 p-2 rounded;
}

.team-no-image-icon {
  @apply stroke-gray-400;
}

.team-image {
  object-fit: cover;
  object-position: center;
  @apply rounded-lg size-20;
}

.team-name {
  width: full;
  text-wrap: balance;
  font-style: italic;
  @apply text-center font-medium;
  @apply leading-tight line-clamp-1;
}

.match-score {
  @apply flex items-center gap-2;
  & .penalty-result {
    @apply text-sm font-semibold text-gray-500;
  }
  & .local-score,
  & .visitor-score {
    @apply text-3xl font-bold text-blue-600 dark:text-blue-500;
  }
}

.versus {
  font-weight: bold;
  @apply text-xl;
}

.match-data {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @apply bg-slate-200 dark:bg-slate-900 md:items-start;
  @apply translate-y-full p-5;
  @apply group-hover:translate-y-0;
  @apply transition-transform duration-300 ease-in-out;
}

.show-data {
  @apply translate-y-0;
}

.match-place {
  @apply text-wrap;
}