@reference "tailwindcss";

.cancel-btn {
  @apply
    bg-gray-100
    hover:bg-gray-200
    border-gray-600
    text-gray-600
    hover:text-gray-800
    dark:bg-gray-800
    dark:text-gray-400
    dark:hover:bg-gray-900
    dark:hover:text-gray-100;
}

.finish-btn {
  @apply 
    text-emerald-50
    border-emerald-600
    bg-emerald-600
    hover:text-emerald-100
    hover:border-emerald-500
    hover:bg-emerald-800;
}
