@reference 'tailwindcss';

.group {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing) * 5);

  @variant lg {
    flex-direction: row;
  }
}

.column {
  width: 100%;

  @variant lg {
    width: 50%;
  }
}
