@reference "tailwindcss";

.widget {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.widgetTitle {
  color: var(--color-emerald-500);
  font-weight: 600;
  margin-bottom: calc(var(--spacing) * 4);
  @apply text-2xl space-x-2;
}

.widgetDateLength {
  font-style: italic;
  color: var(--color-emerald-700);
  @apply text-sm font-normal;
}

.widgetMessageContainer {
  flex: 1;
  display: flex;
  border: solid 1px var(--color-gray-400);
  align-items: center;
  justify-content: center;
  @apply rounded-lg;
}

.widgetMessageText {
  color: color(--color-gray-500);
  font-weight: 600;
  @apply text-xl;
}

:global(.dark) {
  .widgetMessageContainer {
    @apply border-blue-500/50;
  }
  .widgetMessageText {
    color: color(--color-blue-600);
  }
}