@reference "../../../globals.css";

.footer {
  @apply text-center py-10;
}

.links {
  @apply flex flex-col md:flex-row items-center mb-10;
}

.social-media {
  @apply w-full md:w-1/2 flex justify-end items-center gap-2 pr-5;
}

.social-link {
  @apply flex items-center justify-center;
}

.social-icon {
  width: 50px;
  height: 50px;
  @apply
    p-2
    border-2
    rounded-md
    bg-gray-500
    text-gray-50
    hover:bg-gray-400
    transition-colors
    duration-300
    ease-in-out
  ;
}

.copyright {
  @apply text-gray-500 italic font-arimo;
}
