@reference "#globals.css";

.tableHead {
  color: var(--color-gray-500);
  text-align: center;
  font-weight: 700;

  @variant dark {
    color: var(--color-gray-400);
  }
}

.tableCell {
  color: var(--color-blue-600);
  text-align: center;
  font-weight: 600;

  @variant dark {
    color: var(--color-blue-400);
  }
}

.teamLink {
  color: --alpha(var(--color-sky-600) / 80%);

  @variant hover {
    color: var(--color-sky-600);
  }

  @variant dark {
    color: var(--color-sky-600);

    @variant hover {
      color: var(--color-sky-700);
    }
  }
}