@reference "tailwindcss";

.headingOne {
  @apply text-3xl lg:text-5xl;
}

.headingTwo {
  @apply text-2xl lg:text-4xl;
}

.headingThree {
  @apply text-3xl;
}

.headingFour {
  @apply text-xl lg:text-2xl;
}

.headingFive {
  @apply text-lg lg:text-xl;
}

.headingSix {
  @apply text-base font-semibold lg:text-lg lg:font-normal;
}