@reference "../../../../globals.css";

.navigation-menu {
  @apply relative h-10 z-100;
}

.navigation-content {
  @apply hidden lg:flex gap-5;
  @apply absolute left-[50%] top-[50%];
  @apply -translate-[50%] h-full;
}

.navigation-items {
  @apply relative cursor-pointer;
  @apply flex items-center justify-between gap-2;
  & span, & a {
    @apply font-bold text-lg text-gray-50 hover:text-green-300 uppercase;
    @apply whitespace-nowrap transition-colors ease-in-out duration-250;
  }
}

.navigation-links-wrapper {
  @apply absolute top-full left-0 invisible group-hover:visible;
}

.navigation-links {
  @apply absolute top-0 left-0 min-w-50 rounded-md p-3;
  @apply bg-linear-to-b from-green-800 to-green-600;
  @apply invisible group-hover:visible;
}

.navigation-link {
  position: relative;
  display: block;
  white-space: nowrap;
  text-transform: none;

  &::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 100%;
    width: calc(100% - 16px);
    height: 1px;

    @apply bg-green-50/30;
  }

  &:last-of-type::after,
  &:hover::after {
    display: none;
  }

  &:has(+ &:hover)::after {
    display: none;
  }

  @apply px-4 py-2 font-semibold hover:rounded-md;
  @apply text-green-50 hover:bg-green-900 hover:text-green-200;
  @apply transition-colors ease-in-out duration-250;
}