@reference "../../../app/globals.css";

.figureContainer {
  position: relative;
  width: 100%;
  max-width: 1280px;
  overflow: hidden;
  margin-inline: auto;
}

.dataWrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0 calc(var(--spacing) * 5);
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: calc(var(--spacing) * 3);
  @apply lg:px-20 bg-black/20;
}

.heading {
  text-transform: uppercase;
  text-wrap: pretty;
  text-wrap: wrap;
  @apply text-lg text-white/95 font-open-sans lg:w-2/3;
  @apply text-shadow-md/50 text-shadow-black font-black;
  @apply md:text-3xl lg:text-5xl xl:text-6xl;
}

.description {
  text-wrap: pretty;
  @apply text-base md:text-xl lg:text-2xl font-medium lg:w-2/3;
  @apply text-white text-shadow-xs text-shadow-black;
}


.bannerImage {
  width: 100%;
  max-width: 1280px;
  height: auto;
  max-height: 548px;
  object-fit: cover;
  object-position: center;
  margin: auto;
  @apply lg:max-w-[1280px];
}

.alignLeft {
  margin-right: auto;
  text-align: left;
}

.alignCenter {
  margin-inline: auto;
  text-align: center;
}

.alignRight {
  margin-left: auto;
  text-align: right;
}
