@reference 'tailwindcss';

.sidebar {
  display: flex;
  flex: 0 0 340px;
  flex-direction: column;
  background-color: var(--color-gray-50);
  padding: calc(var(--spacing) * 5);
  row-gap: calc(var(--spacing) * 5);
  @apply md:rounded-lg lg:gap-y-10;
}

:global(.dark) {
  .sidebar {
    background-color: var(--color-gray-900);
  }
}