@reference "#globals.css";

.cancel {
  background-color: var(--color-gray-100);
  border-color: var(--color-gray-600);
  color: var(--color-gray-600);


  @variant hover {
    background-color: var(--color-gray-600);
    color: var(--color-gray-50);
  }

  @variant dark {
    background-color: var(--color-gray-800);
    color: var(--color-gray-400);

    @variant hover {
      background-color: var(--color-gray-900);
      color: var(--color-gray-100);
    }
  }
}

.update {
  background-color: var(--color-amber-600);
  border-color: var(--color-amber-600);
  color: var(--color-amber-50);


  @variant hover {
    background-color: var(--color-amber-700);
    color: var(--color-amber-200);
  }

  @variant dark {
    background-color: var(--color-amber-600);
    color: var(--color-amber-100);

    @variant hover {
      background-color: var(--color-amber-800);
      border-color: var(--color-amber-500);
      color: var(--color-gray-100);
    }
  }
}
