@reference "../../../globals.css";

.embla {
  --slide-height: 720;
  --slide-spacing: 2rem;
  @apply w-full max-w-[1280px] mb-5 mx-auto;
}

.embla__viewport {
  overflow: hidden;
}

.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
  touch-action: pan-y pinch-zoom;
}

.embla__slide {
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
  @apply flex-[0_0_100%];
}

.embla__slide__number {
  height: var(--slide-height);
  user-select: none;
  overflow: hidden;
  @apply flex justify-center items-center; 
  @apply rounded-lg text-8xl font-semibold text-gray-600 dark:text-gray-200;
  @apply border-2 border-gray-300 dark:border-green-700;
}

.embla__slide.is-in-view:not(.is-snapped) {
  & .embla__slide__number {
    background-color: rgba(0,0,0);
    & img {
      opacity: 0.25;
    }
  }
}

.embla__controls {
  gap: 1.2rem;
  @apply md:grid grid-cols-[auto_1fr] justify-between;
  @apply mt-5;
}

.embla__buttons {
  @apply w-full flex justify-end items-center gap-3 lg:justify-start lg:gap-2;
}

.embla__button {
  -webkit-tap-highlight-color: rgba(var(--color-neutral-100), 0.5);
  -webkit-appearance: none;
  appearance: none;
  touch-action: manipulation;
  transform: rotate(0deg);
  @apply inline-flex justify-center items-center;
  @apply size-12 cursor-pointer p-0 m-0;
  @apply border-2 border-gray-500 dark:border-green-600 rounded-full;
  @apply text-gray-500 dark:text-green-600 no-underline;
  @apply hover:border-green-700 hover:bg-green-700 hover:text-green-50;
  @apply dark:hover:border-green-600 dark:hover:bg-green-600;
  @apply transition-colors ease-in-out duration-300;
  @apply bg-transparent;
  @apply z-1;
}

.embla__button--disabled {
  @apply border-gray-400 text-gray-400 cursor-not-allowed;
  @apply dark:border-gray-600 dark:text-gray-600;
  @apply hover:border-gray-400 hover:text-gray-400 hover:bg-transparent;
  @apply dark:hover:border-gray-600 dark:hover:text-gray-600 dark:hover:bg-transparent;
}

.embla__button__svg {
  width: 35%;
  height: 35%;
}

.embla__dots {
  @apply hidden md:flex flex-wrap justify-end items-center gap-4;
}

.embla__dot {
  @apply relative appearance-none touch-manipulation;
  @apply size-8 lg:size-6;
  @apply no-underline cursor-pointer m-0 p-0;
  @apply rounded-full border-2 border-gray-500;
  @apply dark:border-gray-200;
}

.embla__dot--selected {
  @apply border-green-700 bg-green-700;
  @apply dark:border-green-600 dark:bg-green-600;
}

.embla__live-region {
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  position: absolute;
}
