@reference 'tailwindcss';

.weekSelector {
  @apply w-full flex flex-col gap-3;
}

.weekLabel {
  @apply text-xl;
}

.weekGroup {
  display: flex;
  justify-content: center;
  @apply items-center gap-5 md:justify-start;
}

.weekInput {
  display: block;
  width: 80px;
  height: auto;
  padding: 8px 4px;
  text-align: center;
  border-radius: 8px;

  &:focus-visible {
    outline: none;
    border-width: 1px;
    border-color: var(--color-gray-500);
    border-style: solid;
  }

  :global(.dark) &:focus-visible {
    border-color: var(--color-blue-500);
  }
}

.modifyQuantityButtons {
  border-width: 1px;
  border-color: var(--color-blue-500);
  border-radius: 50%;
}